@media (min-width: 1281px) and (max-width: 1600px) {
#sobre .txt {
  padding: 0 10em 0 4em;
}
}

@media (min-width: 1025px) and (max-width: 1280px) {
#sobre .txt {
  padding: 0 10em 0 4em;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
.navbar ul li a{
  margin-left: 0px;
  font-size: 16px;
}
#sobre .txt {
  padding: 0 10em 0 4em;
}
#sobre .txt h2{
  font-size: 30px;
}
#sobre .txt p{
  font-size: 14px;
}
#cardapio .txt h2{
  font-size: 50px;
}
#cardapio .txt p{
  font-size: 16px;
}
#easychopp h2{
  font-size: 50px;
}
#easychopp p.sub{
  font-size: 16px;
}
#easychopp .card-body h4{
  font-size: 24px;
}
#easychopp .card-body p{
  font-size: 16px;
}
#instagram h2{
  font-size: 50px;
}
#contato h2{
  font-size: 50px;
}
.blog .title{
  font-size: 18px;
}
.blog p.description{
  font-size: 14px;
}
}

@media (min-width: 320px) and (max-width: 480px) {
.navbar .social-part{
  display: none;
}
.navbar ul li a{
  margin-left: 0;
}
.navbar .navbar-brand{
  padding: 0 1em 0;
}
.navbar .navbar-brand{
  margin-left: 0;
  margin-right: 0;
}
.navbar-scroll {
  padding: 1em 0;
}
button.navbar-toggler {
  margin-top: 15px;
}
header {
  height: 25vh;
  margin-top: 144px;
}
header .play-video{
  margin-top: 0px
}
header video#vid {
  border: 0;
}
header .speaker {
  margin-bottom: -40px;
  margin-left: -22px;
}
#sobre .container-fluid {
  padding: 0 2em;
  margin: 0;
}
#sobre .txt{
  padding: 0 1em;
  text-align-last: center;
}
#sobre .txt h2{
  font-size: 50px;
  padding: .5em 0 .5em 0;
}
#sobre .txt p{
  font-size: 18px;
}
#cardapio {
  background-size: cover;
}
#cardapio .txt{
  padding: 3em 2em !important;
  text-align: center;
}
#cardapio .txt h2{
  font-size: 50px;
}
#cardapio .txt p{
  font-size: 18px;
}
#easychopp{
  background-size: cover;
}
#easychopp h2{
  font-size: 50px;
}
#easychopp p.sub{
  padding: 0 2em 3em;
}
#easychopp .card{
  text-align: center;
  padding: 0 2em;
}
#easychopp .card-img-top{
  margin: 0 auto;
}
#instagram h2{
  font-size: 50px;
}
#contato h2{
  font-size: 50px;
}
.btn_default{
  padding: 8px 50px;
}
.btn-block {
  width: 93%;
  margin: 0 auto;
  text-align: center;
}
form.wpcf7-form.init {
  padding: 0 1em;
}
#blog-page h2 {
  text-align: center;
  padding-bottom: .5em;
}
#blog-page #search-input {
  text-align: center;
  margin: .5em auto;
  float: none;
}
#blog-page article {
  margin: 0 1em;
}
#blog-single .share{
  padding: 0 1em;
}
#blog-single .post-tags {
  padding: 1em 1em 0 1em;
}
#blog-single .blog-posts-nav {
  padding: 0 1em;
  margin: 38px auto;
}
#blog-single h2.related-posts {
  padding: 0 1em;
}
.post-single .single-header {
  left: 10px;
}
.post-single p{
  padding: 0 1em;
}
.post-single blockquote > p {
  padding: 0 1em;
  margin-bottom: 8px;
  font-size: 20px;
}
#search .list-group {
  margin: 0 1em 20px 1em;
}
.carousel-slider.arrows-outside .owl-nav .owl-prev {
  left: 0 !important;
}
.carousel-slider.arrows-outside .owl-nav .owl-next {
  right: 0 !important;
}
}